extends layout
block content
    h1 Starsiege : Tribes
        img(src="/images/icon_Starseige.png")
        p The Original
    p Orb was founded in Tribes as well as contributed of the game's several widely used mods such as Annhilation, and Shifter. There is not a lot of servers still online, but the game is freeware and available to all to download and play.
    h2 Download
    .twocol
        .downloads            
            a(href="http://www.tribes0.com/FullTribes_1.41.zip" target="_blank") Download Original Tribes
                i.fa.fa-download
            p 114 MB -  Bugs fixed and 1.41 patch by The Community <br />Game set 1.40v by GarageGames
        
            a(href="http://www.tribes0.com/Tribes_2015.zip" target="_blank") Download Tribes 2015 Version
                i.fa.fa-download
            p 349 MB - High Quality Textures and Interface.<br />Game set released by FSB-SPY

            a(href="http://www.pcrpg.org/main.php?action=viewpage&page=downloads&startdl=33" target="_blank") Download Tribes RPG
                i.fa.fa-download
            p 134 MB - Tribes RPG Starter pack <br /> For Particle's Custom RPG. 
                a(href="http://www.pcrpg.org/main.php?action=viewpage&page=downloads&viewfile=33") more info. 
                    i.fa.fa-external-link
        .orbskin
            img(src="/images/titanshot6.jpg")


    h2 Tribes 1 Realtime Master Server List
    table#tribesMasterList(width="100%")
        tr
            th Server Name
            th Mission Type
            th Mission Name
            th Players
            th Address
            th Version
            th Server Type
            
        each server in masterList
            tr
                td.name=server.name
                td=server.server.game
                td=server.map
                td=server.currentPlayers + '/' + server.maxPlayers
                td=server.address
                td=server.server.version
                td=server.server.mods

    h2 Links
    ul
        li 
            a(href="http://library.theexiled.pwnageservers.com/category.php?id=167" target="_blank") Starsiege: Tribes - TheExiled Library
        li 
            a(href="http://www.tribalwar.com/forums/showthread.php?t=607313" target="_blank") Tribes 1 Resource Thread - TribalWar
        li 
            a(href="http://www.tribalwar.com/forums/showthread.php?t=225377" target="_blank") Tribes 1 Links Thread - TribalWar
        li 
            a(href="http://www.annihilation.info/" target="_blank") Annihilation Mod
        li 
            a(href="http://www.tribesmasterserver.com/" target="_blank") http://www.tribesmasterserver.com/
        li 
            a(href="http://www.maxogc.net/tribes/master/index.php" target="_blank") Tribes 1 Master Server Query
        li 
            a(href="http://t1m1.pu.net/" target="_blank") http://t1m1.pu.net/
        li
            a(href="http://www.pcrpg.org/" target="_blank") Particle's Custom RPG