extends layout
block content
    h1 Steam Community
        p Orb Members

    #steam-members

        .memberlist
            each member in steamData.members
                -let statusClass = '';
                -if ( member.personastate == 1 ) statusClass += "online"
                -if (member.gameextrainfo !== null ) statusclass += " ingame";
                div(class=statusClass)
                    if member.communityvisibilitystate == 3
                        a(href=member.profileurl, target="_blank")
                            img.avatar(src=member.avatarfull)
                    else   
                        img.avatar(src=member.avatarfull)
                    p.name=member.personaname
                    p.online